<% provide(:title, "About") %>
<h1>About Us</h1>
<p>
  Mustangs is about customizing the watches while buying it.
  Here you can customize all the things that you personally like in a single watch.<br/>
  Every Choice Matters. Why settle for average when you are destined for iconic.
</p>
