<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<p>
  <b>Contact The Mustangs Team</b><br/>
    Toll Free: 888-999-666</br>
    Phone:     123-456-7890</br>
    Email:  <a>support@mustangs.com</a>
</p>
